.new-tweet {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

label[for="tweet-text"] {
  position: relative;
  top: 20px;
}
#tweet-text {
  position: relative;
  top: 40px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid#545149;
}

.counter {
  position: relative;
  top: 40px;
  left: 83%;
  font-family: "Bungee", sans-serif;
}

button[type="submit"] {
  position: relative;
  top: 40px;
  left: 0px;
  font-family: "Bungee", sans-serif;
  color: #ffffff;
  background-color: #4056a1;
}

#error-message {
  display: none;
  width: 100%;
  text-align: center;
  border: 2px ridge red;
  color: white;
  background-color: rgb(221, 92, 92);
  font-weight: bolder;
}
